/*Declaração de Variaveis*/
:root{
  --color-border: #1b1b1b;
  --color-black: #202020;
  --color-green-title: #74ba84;
  --color-green-subtitle: #97e9aa;
  --color-white: #fff;
  --color-item-serv: #2d2d2d;
  --color-border-item-serv: #3a3a3a;
  --color-rgba-serv-item: rgba(0, 0, 0, 0.1);
  --color-rgba-servicos: rgba(197, 77, 77, 0.1);
}

/* Estilização para os serviços */
.servicos-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-black);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 6px var(--color-rgba-servicos);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  & h1 {
    text-align: center;
    font-size: 28px;
    background-color: var(--color-green-title);
    border-radius: 60px;
    color: var(--color-white);
    width: 100%;
    margin-bottom: 20px;
  }

  & .servico-item {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color-item-serv);
    border: 1px solid var(--color-border-item-serv);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-rgba-serv-item);
    box-sizing: border-box;

    & h3 {
      font-size: 16px;
      margin-bottom: 10px;
      color: var(--color-green-subtitle);
    }

    & p {
      font-size: 14px;
      color: var(--color-white);
    }
  }
}

/* dispositivos menores (por exemplo, Smartphones) */
@media (max-width: 600px) {
  .servicos-container {
    max-width: 400px;
    padding: 10px;

    & h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 15px;
      margin-top: 20px;
    }

    & p {
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {

      margin-bottom: 20px;
      padding: 20px;
      box-sizing: border-box;

      & h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 14px;
        color: var(--color-white);
      }

      & img {
        width: 300px;
      }
    }
  }
}

/* dispositivos medios (por exemplo, Tablets) */
@media (max-width: 768px) {
  .servicos-container {
    max-width: 550px;
    padding: 10px;

    & h1 {
      font-size: 25px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 16px;
      margin-top: 20px;
    }

    & p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {
      margin-bottom: 20px;
      padding: 20px;

      & h3 {
        font-size: 17px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 15px;
      }

      & img {
        width: 450px;
      }
    }
  }

}

/* dispositivos grandes (por exemplo, Desktops) */
@media (max-width: 992px) {
  .servicos-container {
    max-width: 650px;
    padding: 10px;

    & h1 {
      font-size: 27px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 18px;
      margin-top: 20px;
    }

    & p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {
      margin-bottom: 20px;
      padding: 20px;

      & h3 {
        font-size: 19px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 17px;
      }

      & img {
        width: 500px;
      }
    }
  }
}