/*Declaração de Variaveis*/
:root {
  --color-principal: #39ac6f;
  --color-black-body: #161616;
  --color-black-conteudo: #000000;
  --color-white: #fff;
  --color-hover: #ffffff55;
  --color-button: #84CF95;
  --color-footer: #5db888;
}

/*Estlos Globais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}


body {
  background-color: var(--color-black-body);
  overflow-x: hidden;
}

main {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  width: 100VW;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}


/*CABEÇALHO*/
.cabecalho-conteiner {
  background-color: var(--color-black-conteudo);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

nav a {
  color: var(--color-white);
  font-size: 1.0em;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  transition: 0.3s;
}

.navegacao-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
 
nav .navegacao-links a:hover {
  background-color: var(--color-hover);
  border-radius: 20px;
  color: var(--color-principal);
  opacity: 0.7;
}


.logo {
  position: absolute;
  top: 0;
  left: 40px;
  width: 120px;
}

.acessar-login{
  display: flex;
}

#btnLogin {
  background-color: var(--color-button);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-size: 1.0em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 30px;
  cursor: pointer;
}

#btnLogin span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#btnLogin img {
  max-width: 30px;
  height: auto;
}


/*Estlos Globais para formularios*/
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: var(--color-white);
  margin: 0 10px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="date"]::placeholder,
textarea::placeholder {
  color: var(--color-white);
}

button[type="submit"] {
  background-color: var(--color-button);
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.0em;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--color-principal);
}

/*RODAPÉ*/
footer {
  width: 100%;
  height: 60px;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}

footer p {
  color: var(--color-white);
  margin: 0 10px;
}

footer p img {
  width: 20px;
}

.icone-redes {
  width: 50px;
  height: 50px;
}

.text-center {
  text-align: center;
}

.selec-integrant a {
  display: inline-block;
  padding: 10px 20px;
  background-color: none;
  color: var(--color-white);
  text-decoration: none;
  border: 1px solid var(--color-white);
  border-radius: 60px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
  font-size: 1em;
}

/* dispositivos menores (por exemplo, Smartphones) */
@media (max-width: 600px) {

  /* CABEÇALHO */
  .cabecalho-conteiner {
    height: 70px;
  }

  .navegacao-links {
    margin-left: -50px;
  }

  nav a {
    font-size: 0.7em;
    padding: 10px 15px;
    margin-right: 5px;
  }

  .logo {
    width: 70px;
    left: 10px;
  }

  #btnLogin {
    width: 100px;
    height: 30px;
    top: 20px;
    right: 30px;
    font-size: 0.8em;
  }

  #btnLogin img {
    max-width: 20px;
    margin-left: -20px;
  }

  /* RODAPÉ */
  footer {
    height: 100%;
  }

  footer p {
    margin: 0 5px;
  }

  footer p img {
    width: 5px;
  }
}

/* dispositivos medios (por exemplo, Tablets) */
@media (max-width: 768px) {

  /* CABEÇALHO */
  .cabecalho-conteiner {
    height: 80px;
  }

  .navegacao-links {
    margin-left: -140px;
  }

  nav a {
    font-size: 0.7em;
    padding: 10px 15px;
    margin-right: 5px;
  }

  .logo {
    width: 80px;
    left: 15px;
  }

  #btnLogin {
    width: 120px;
    height: 30px;
    top: 20px;
    right: 140px;
    font-size: 0.9em;
  }

  #btnLogin img {
    max-width: 20px;
    margin-left: -10px;
  }

  /* RODAPÉ */
  footer {
    height: 100%;
  }

  footer p {
    margin: 0 6px;
  }

  footer p img {
    width: 3px;
  }
}


/* dispositivos grandes (por exemplo, Desktops) */
@media (max-width: 992px) {



  #btnLogin {
    width: 120px;
    height: 30px;
    top: 20px;
    right: 80px;
    font-size: 0.9em;
  }

  #btnLogin img {
    max-width: 20px;
    margin-left: -10px;
  }
}